*.pyc
*.log
*.pid
node_modules
coverage/
manuspectrum/logs
manuspectrum/export_deliverables
manuspectrum/cantaloupe/*
manuspectrum/staticfiles
manuspectrum/media/packages
manuspectrum/media/build/
manuspectrum/uploadedfiles/*
manuspectrum/settings_local.py
manuspectrum/archestemp/
pkg/
supervisor/

webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
frontend_configuration
.idea/

# Packaging
build/
dist/