{% extends "javascript.htm" %}
{% load i18n %}

{% block arches_translations %}
{{ block.super }}
<div
    class='arches-translations'
    data='{% trans "Data" as data %} "{{ data|escapejs }}"'
    x-axis='{% trans "X Axis" as xAxis %} "{{ xAxis|escapejs }}"'
    y-axis='{% trans "Y Axis" as yAxis %} "{{ yAxis|escapejs }}"'
    select-transformation='{% trans "Select a Transformation" as selectTransformation %} "{{ selectTransformation|escapejs }}"'
    select-importer='{% trans "Select an Importer" as selectImporter %} "{{ selectImporter|escapejs }}"'
    importer-in-use='{% trans "Importer in Use" as importerInUse %} "{{ importerInUse|escapejs }}"'
    importer-in-use-warning='{% trans "This importer is in use - it should be replaced in all files where it is used before deleting." as importerInUseWarning %} "{{ importerInUseWarning|escapejs }}"'
    select-primary-description-identifier-card='{% trans "Select Primary Description Identifier Card" as selectPrimaryDescriptionIdentifierCard %} "{{ selectPrimaryDescriptionIdentifierCard|escapejs }}"'
    manifest-create-error='{% trans "An error occurred while creating the manifest." as manifestCreateError %} "{{ manifestCreateError|escapejs }}"'
    analysis-material='{% trans "Material" as analysisMaterial %} "{{ analysisMaterial|escapejs }}"'
    analysis-layer='{% trans "Layer" as analysisLayer %} "{{ analysisLayer|escapejs }}"'
    analysis-range='{% trans "Range" as analysisRange %} "{{ analysisRange|escapejs }}"'
    analysis-lapis-lazuli='{% trans "Lapis lazuli" as analysisLapisLazuli %} "{{ analysisLapisLazuli|escapejs }}"'
    analysis-vermilion='{% trans "Vermilion (HgS)" as analysisVermilion %} "{{ analysisVermilion|escapejs }}"'
    analysis-gold-leaf='{% trans "Gold leaf" as analysisGoldLeaf %} "{{ analysisGoldLeaf|escapejs }}"'
    analysis-iron-gall-ink='{% trans "Iron gall ink" as analysisIronGallInk %} "{{ analysisIronGallInk|escapejs }}"'
    analysis-pigment='{% trans "Pigment" as analysisPigment %} "{{ analysisPigment|escapejs }}"'
    analysis-paint='{% trans "Paint" as analysisPaint %} "{{ analysisPaint|escapejs }}"'
    analysis-gilding='{% trans "Gilding" as analysisGilding %} "{{ analysisGilding|escapejs }}"'
    analysis-text='{% trans "Text" as analysisText %} "{{ analysisText|escapejs }}"'
></div>
{% endblock arches_translations %}
